{% extends 'base.html' %}

{% block title %}
Signup
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">

        <div class="card" style="width: 800px;">

            <div class="card-header text-center">
                <h4>Sign Up</h4>
            </div>

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>

            <div class="card-footer text-center">
                <span>Already have an account? <a href="{% url 'login' %}">Login</a></span>
            </div>
        </div>

    </div>
{% endblock %}

