{% extends 'base.html' %}

{% block title %}
Add Category
{% endblock %}

{% block content %}
<div class="card p-3">
    <h1 class="mb-4 text-center">Add New Category</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-block">Add Category</button>
            <a href="{% url 'category-list' %}" class="btn btn-secondary ms-4">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}